<h3>Utilizando uma das técnicas da Normalização de dados vistas em sala de aula, padronize duas colunas do arquivo BBC. Poste o link de sua solução e o resultado final do aquivo após suas operações. Insira o link no github comunitário contendo os arquivos solicitados.</h3>

Vou utilizar o método min-max nesse exercício. As colunas escolhidas para padronização são <b>Recognition Score</b> e <b>'Temporal Memory Score'</b>. Nossa fórmula é:

(x-min)/(max-min)

Onde x é o valor assumido pelo atributo.

In [1]:
#importando libs
import pandas as pd

In [23]:
#Carregando os dados
dados = pd.read_excel("./Dados/BBC-Results -MT10 Limpeza.xlsx")
dados.head(15)

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-12-11 18:16:31,7.0,91.0,86.0
1,2012-12-13 14:31:16,6.5,95.0,78.0
2,2012-12-13 14:31:30,7.0,95.0,56.0
3,2012-12-13 14:32:01,5.0,91.0,81.0
4,2012-12-13 14:34:07,8.5,100.0,75.0
5,2012-12-13 14:34:16,7.0,87.0,80.0
6,2012-12-13 14:35:50,6.5,91.0,95.0
7,2012-12-13 14:36:36,8.5,95.0,91.0
8,2012-12-13 14:44:30,6.5,91.0,81.0
9,2012-12-13 14:44:57,7.0,91.0,86.0
10,2012-12-13 14:48:38,8.0,100.0,79.0
11,2012-12-13 14:54:44,7.5,100.0,87.0
12,2012-12-13 14:58:49,8.0,95.0,73.0
13,2012-12-13 15:01:56,7.0,79.0,78.0
14,2012-12-13 15:03:48,5.0,91.0,81.0

In [24]:
dados.min()

Timestamp                                   2012-12-11 18:16:31
How many hours did you sleep last night?                      0
Recognition Score                                             0
Temporal Memory Score                                         0
dtype: object

In [25]:
dados.max()

Timestamp                                   2015-03-31 19:22:14
How many hours did you sleep last night?                   23.5
Recognition Score                                           100
Temporal Memory Score                                       100
dtype: object

Os valores máximo e mínimo para ambos os atributos foram 0 e 100, respectivamente. Logo nossa formula de min-max sofrerá as seguintes alteraçoes:
   
(x-min)/(max-min) => (x-0)/(100-0) => x/100

Então, apara fazermos a normalização das colunas, teremos apenas que dividir o valor por 100.

In [26]:
#É importante que se execute esta linha apenas uma vez
dados['Recognition Score'] = dados['Recognition Score']/100
dados['Temporal Memory Score'] = dados['Temporal Memory Score']/100
dados.head(15)

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-12-11 18:16:31,7.0,0.91,0.86
1,2012-12-13 14:31:16,6.5,0.95,0.78
2,2012-12-13 14:31:30,7.0,0.95,0.56
3,2012-12-13 14:32:01,5.0,0.91,0.81
4,2012-12-13 14:34:07,8.5,1.00,0.75
5,2012-12-13 14:34:16,7.0,0.87,0.80
6,2012-12-13 14:35:50,6.5,0.91,0.95
7,2012-12-13 14:36:36,8.5,0.95,0.91
8,2012-12-13 14:44:30,6.5,0.91,0.81
9,2012-12-13 14:44:57,7.0,0.91,0.86
10,2012-12-13 14:48:38,8.0,1.00,0.79
11,2012-12-13 14:54:44,7.5,1.00,0.87
12,2012-12-13 14:58:49,8.0,0.95,0.73
13,2012-12-13 15:01:56,7.0,0.79,0.78
14,2012-12-13 15:03:48,5.0,0.91,0.81