# Miniteste 9 - Edinadja

#### Baseado no Código de José Gildo

In [1]:
import pandas as pd

df = pd.read_csv('BBC-Results.csv')
df

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,11/12/2012 18:16:31,7,91,86
1,13/12/2012 14:31:16,"6,5",95,78
2,13/12/2012 14:31:30,7,95,56
3,13/12/2012 14:32:01,5,91,81
4,13/12/2012 14:34:07,"8,5",100,75
5,13/12/2012 14:34:16,7,87,80
6,13/12/2012 14:35:50,"6,5",91,95
7,13/12/2012 14:36:36,"8,5",95,91
8,13/12/2012 14:44:30,"6,5",91,81
9,13/12/2012 14:44:57,7,91,86
10,13/12/2012 14:48:38,8,100,79
11,13/12/2012 14:54:44,"7,5",100,87
12,13/12/2012 14:58:49,8,95,73
13,13/12/2012 15:01:56,7,79,78
14,13/12/2012 15:03:48,5,91,81
15,13/12/2012 15:07:31,7,100,95
16,13/12/2012 15:08:34,"7,5",100,70
17,13/12/2012 15:12:18,"8,5",100,95
18,13/12/2012 15:30:14,7,83,90
19,13/12/2012 16:00:34,"8,5",95,73
20,13/12/2012 16:07:53,4,91,86
21,13/12/2012 16:08:13,4,95,73
22,13/12/2012 18:48:48,"4,5",100,100
23,13/12/2012 20:19:32,7,70,82
24,14/12/2012 01:42:31,8,95,100
25,14/12/2012 01:55:20,9,45,54
26,14/12/2012 10:58:26,"5,5",100,79
27,16/12/2012 11:43:14,9,95,78
28,16/12/2012 11:58:39,8,83,70
29,16/12/2012 12:12:48,8,95,78
...,...,...,...,...
9128,24/03/2015 08:55:34,8,83,90
9129,24/03/2015 13:56:19,7,50,100
9130,25/03/2015 02:34:11,8,100,87
9131,25/03/2015 09:55:20,7,68,68
9132,25/03/2015 11:35:10,0,45,54
9133,25/03/2015 13:43:30,0,88,100
9134,25/03/2015 13:58:35,0,90,90
9135,25/03/2015 13:58:54,8,90,90
9136,25/03/2015 14:26:12,7,60,50
9137,25/03/2015 14:38:43,"7,5",84,72
9138,25/03/2015 17:44:39,"6,5",65,70
9139,26/03/2015 17:27:39,"2,5",100,100
9140,26/03/2015 21:00:22,7,95,86
9141,28/03/2015 13:03:38,"11,5",95,73
9142,29/03/2015 21:03:44,0,NaN,NaN
9143,29/03/2015 22:00:47,8,60,50
9144,30/03/2015 13:49:47,9,91,63
9145,30/03/2015 14:53:06,8,75,68
9146,30/03/2015 17:31:14,3,60,65
9147,30/03/2015 22:16:57,8,95,86
9148,30/03/2015 22:17:24,8,95,86
9149,30/03/2015 23:18:25,7,70,94
9150,31/03/2015 07:02:44,"7,5",79,75
9151,31/03/2015 19:22:14,8,0,0
9152,11/01/2016 06:18:34,8,NaN,NaN
9153,20/05/2016 13:48:07,1,ee,ee
9154,17/09/2016 05:37:22,"5,5",378,NaN
9155,17/09/2016 05:37:43,"5,5",279,NaN
9156,NaN,"6,695873604",0,NaN
9157,NaN,7,(...),NaN

### Verificando o tipo de dados das colunas

In [2]:
df.dtypes

Timestamp                                   object
How many hours did you sleep last night?    object
Recognition Score                           object
Temporal Memory Score                       object
dtype: object

### Ajustando o tipo de dados das colunas

In [3]:
def ajusta_tipo_coluna(df, lista_colunas):
    df[lista_colunas] = df[lista_colunas].apply(pd.to_numeric, errors='coerce')

def ajusta_tipo_coluna2(df, lista_colunas2):
    df[lista_colunas2] = df[lista_colunas2].apply(pd.to_datetime, errors='coerce')
    
ajusta_tipo_coluna(df,['How many hours did you sleep last night?','Recognition Score','Temporal Memory Score'])
ajusta_tipo_coluna2(df,['Timestamp'])

In [4]:
df

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-11-12 18:16:31,7.0,91.0,86.0
1,2012-12-13 14:31:16,NaN,95.0,78.0
2,2012-12-13 14:31:30,7.0,95.0,56.0
3,2012-12-13 14:32:01,5.0,91.0,81.0
4,2012-12-13 14:34:07,NaN,100.0,75.0
5,2012-12-13 14:34:16,7.0,87.0,80.0
6,2012-12-13 14:35:50,NaN,91.0,95.0
7,2012-12-13 14:36:36,NaN,95.0,91.0
8,2012-12-13 14:44:30,NaN,91.0,81.0
9,2012-12-13 14:44:57,7.0,91.0,86.0
10,2012-12-13 14:48:38,8.0,100.0,79.0
11,2012-12-13 14:54:44,NaN,100.0,87.0
12,2012-12-13 14:58:49,8.0,95.0,73.0
13,2012-12-13 15:01:56,7.0,79.0,78.0
14,2012-12-13 15:03:48,5.0,91.0,81.0
15,2012-12-13 15:07:31,7.0,100.0,95.0
16,2012-12-13 15:08:34,NaN,100.0,70.0
17,2012-12-13 15:12:18,NaN,100.0,95.0
18,2012-12-13 15:30:14,7.0,83.0,90.0
19,2012-12-13 16:00:34,NaN,95.0,73.0
20,2012-12-13 16:07:53,4.0,91.0,86.0
21,2012-12-13 16:08:13,4.0,95.0,73.0
22,2012-12-13 18:48:48,NaN,100.0,100.0
23,2012-12-13 20:19:32,7.0,70.0,82.0
24,2012-12-14 01:42:31,8.0,95.0,100.0
25,2012-12-14 01:55:20,9.0,45.0,54.0
26,2012-12-14 10:58:26,NaN,100.0,79.0
27,2012-12-16 11:43:14,9.0,95.0,78.0
28,2012-12-16 11:58:39,8.0,83.0,70.0
29,2012-12-16 12:12:48,8.0,95.0,78.0
...,...,...,...,...
9128,2015-03-24 08:55:34,8.0,83.0,90.0
9129,2015-03-24 13:56:19,7.0,50.0,100.0
9130,2015-03-25 02:34:11,8.0,100.0,87.0
9131,2015-03-25 09:55:20,7.0,68.0,68.0
9132,2015-03-25 11:35:10,0.0,45.0,54.0
9133,2015-03-25 13:43:30,0.0,88.0,100.0
9134,2015-03-25 13:58:35,0.0,90.0,90.0
9135,2015-03-25 13:58:54,8.0,90.0,90.0
9136,2015-03-25 14:26:12,7.0,60.0,50.0
9137,2015-03-25 14:38:43,NaN,84.0,72.0
9138,2015-03-25 17:44:39,NaN,65.0,70.0
9139,2015-03-26 17:27:39,NaN,100.0,100.0
9140,2015-03-26 21:00:22,7.0,95.0,86.0
9141,2015-03-28 13:03:38,NaN,95.0,73.0
9142,2015-03-29 21:03:44,0.0,NaN,NaN
9143,2015-03-29 22:00:47,8.0,60.0,50.0
9144,2015-03-30 13:49:47,9.0,91.0,63.0
9145,2015-03-30 14:53:06,8.0,75.0,68.0
9146,2015-03-30 17:31:14,3.0,60.0,65.0
9147,2015-03-30 22:16:57,8.0,95.0,86.0
9148,2015-03-30 22:17:24,8.0,95.0,86.0
9149,2015-03-30 23:18:25,7.0,70.0,94.0
9150,2015-03-31 07:02:44,NaN,79.0,75.0
9151,2015-03-31 19:22:14,8.0,0.0,0.0
9152,2016-11-01 06:18:34,8.0,NaN,NaN
9153,2016-05-20 13:48:07,1.0,NaN,NaN
9154,2016-09-17 05:37:22,NaN,378.0,NaN
9155,2016-09-17 05:37:43,NaN,279.0,NaN
9156,NaT,NaN,0.0,NaN
9157,NaT,7.0,NaN,NaN

### Substitui valores nulos pela média:

In [6]:
colunas = ['How many hours did you sleep last night?','Recognition Score','Temporal Memory Score']
for coluna in colunas:
    df[coluna].fillna(df[coluna].mean(), inplace = True)
df

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-11-12 18:16:31,7.000000,91.000000,86.000000
1,2012-12-13 14:31:16,10.269316,95.000000,78.000000
2,2012-12-13 14:31:30,7.000000,95.000000,56.000000
3,2012-12-13 14:32:01,5.000000,91.000000,81.000000
4,2012-12-13 14:34:07,10.269316,100.000000,75.000000
5,2012-12-13 14:34:16,7.000000,87.000000,80.000000
6,2012-12-13 14:35:50,10.269316,91.000000,95.000000
7,2012-12-13 14:36:36,10.269316,95.000000,91.000000
8,2012-12-13 14:44:30,10.269316,91.000000,81.000000
9,2012-12-13 14:44:57,7.000000,91.000000,86.000000
10,2012-12-13 14:48:38,8.000000,100.000000,79.000000
11,2012-12-13 14:54:44,10.269316,100.000000,87.000000
12,2012-12-13 14:58:49,8.000000,95.000000,73.000000
13,2012-12-13 15:01:56,7.000000,79.000000,78.000000
14,2012-12-13 15:03:48,5.000000,91.000000,81.000000
15,2012-12-13 15:07:31,7.000000,100.000000,95.000000
16,2012-12-13 15:08:34,10.269316,100.000000,70.000000
17,2012-12-13 15:12:18,10.269316,100.000000,95.000000
18,2012-12-13 15:30:14,7.000000,83.000000,90.000000
19,2012-12-13 16:00:34,10.269316,95.000000,73.000000
20,2012-12-13 16:07:53,4.000000,91.000000,86.000000
21,2012-12-13 16:08:13,4.000000,95.000000,73.000000
22,2012-12-13 18:48:48,10.269316,100.000000,100.000000
23,2012-12-13 20:19:32,7.000000,70.000000,82.000000
24,2012-12-14 01:42:31,8.000000,95.000000,100.000000
25,2012-12-14 01:55:20,9.000000,45.000000,54.000000
26,2012-12-14 10:58:26,10.269316,100.000000,79.000000
27,2012-12-16 11:43:14,9.000000,95.000000,78.000000
28,2012-12-16 11:58:39,8.000000,83.000000,70.000000
29,2012-12-16 12:12:48,8.000000,95.000000,78.000000
...,...,...,...,...
9128,2015-03-24 08:55:34,8.000000,83.000000,90.000000
9129,2015-03-24 13:56:19,7.000000,50.000000,100.000000
9130,2015-03-25 02:34:11,8.000000,100.000000,87.000000
9131,2015-03-25 09:55:20,7.000000,68.000000,68.000000
9132,2015-03-25 11:35:10,0.000000,45.000000,54.000000
9133,2015-03-25 13:43:30,0.000000,88.000000,100.000000
9134,2015-03-25 13:58:35,0.000000,90.000000,90.000000
9135,2015-03-25 13:58:54,8.000000,90.000000,90.000000
9136,2015-03-25 14:26:12,7.000000,60.000000,50.000000
9137,2015-03-25 14:38:43,10.269316,84.000000,72.000000
9138,2015-03-25 17:44:39,10.269316,65.000000,70.000000
9139,2015-03-26 17:27:39,10.269316,100.000000,100.000000
9140,2015-03-26 21:00:22,7.000000,95.000000,86.000000
9141,2015-03-28 13:03:38,10.269316,95.000000,73.000000
9142,2015-03-29 21:03:44,0.000000,92.183976,78.500503
9143,2015-03-29 22:00:47,8.000000,60.000000,50.000000
9144,2015-03-30 13:49:47,9.000000,91.000000,63.000000
9145,2015-03-30 14:53:06,8.000000,75.000000,68.000000
9146,2015-03-30 17:31:14,3.000000,60.000000,65.000000
9147,2015-03-30 22:16:57,8.000000,95.000000,86.000000
9148,2015-03-30 22:17:24,8.000000,95.000000,86.000000
9149,2015-03-30 23:18:25,7.000000,70.000000,94.000000
9150,2015-03-31 07:02:44,10.269316,79.000000,75.000000
9151,2015-03-31 19:22:14,8.000000,0.000000,0.000000
9152,2016-11-01 06:18:34,8.000000,92.183976,78.500503
9153,2016-05-20 13:48:07,1.000000,92.183976,78.500503
9154,2016-09-17 05:37:22,10.269316,378.000000,78.500503
9155,2016-09-17 05:37:43,10.269316,279.000000,78.500503
9156,NaT,10.269316,0.000000,78.500503
9157,NaT,7.000000,92.183976,78.500503

### Substitui valores fora do limite pela média:

In [7]:
colunas = ['How many hours did you sleep last night?','Recognition Score','Temporal Memory Score']
for coluna in colunas:
    df[(df[coluna] > 100) | (df[coluna] < 0)] = df[coluna].mean()
df

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-11-12 18:16:31,7.000000,91.000000,86.000000
1,2012-12-13 14:31:16,10.269316,95.000000,78.000000
2,2012-12-13 14:31:30,7.000000,95.000000,56.000000
3,2012-12-13 14:32:01,5.000000,91.000000,81.000000
4,2012-12-13 14:34:07,10.269316,100.000000,75.000000
5,2012-12-13 14:34:16,7.000000,87.000000,80.000000
6,2012-12-13 14:35:50,10.269316,91.000000,95.000000
7,2012-12-13 14:36:36,10.269316,95.000000,91.000000
8,2012-12-13 14:44:30,10.269316,91.000000,81.000000
9,2012-12-13 14:44:57,7.000000,91.000000,86.000000
10,2012-12-13 14:48:38,8.000000,100.000000,79.000000
11,2012-12-13 14:54:44,10.269316,100.000000,87.000000
12,2012-12-13 14:58:49,8.000000,95.000000,73.000000
13,2012-12-13 15:01:56,7.000000,79.000000,78.000000
14,2012-12-13 15:03:48,5.000000,91.000000,81.000000
15,2012-12-13 15:07:31,7.000000,100.000000,95.000000
16,2012-12-13 15:08:34,10.269316,100.000000,70.000000
17,2012-12-13 15:12:18,10.269316,100.000000,95.000000
18,2012-12-13 15:30:14,7.000000,83.000000,90.000000
19,2012-12-13 16:00:34,10.269316,95.000000,73.000000
20,2012-12-13 16:07:53,4.000000,91.000000,86.000000
21,2012-12-13 16:08:13,4.000000,95.000000,73.000000
22,2012-12-13 18:48:48,10.269316,100.000000,100.000000
23,2012-12-13 20:19:32,7.000000,70.000000,82.000000
24,2012-12-14 01:42:31,8.000000,95.000000,100.000000
25,2012-12-14 01:55:20,9.000000,45.000000,54.000000
26,2012-12-14 10:58:26,10.269316,100.000000,79.000000
27,2012-12-16 11:43:14,9.000000,95.000000,78.000000
28,2012-12-16 11:58:39,8.000000,83.000000,70.000000
29,2012-12-16 12:12:48,8.000000,95.000000,78.000000
...,...,...,...,...
9128,2015-03-24 08:55:34,8.000000,83.000000,90.000000
9129,2015-03-24 13:56:19,7.000000,50.000000,100.000000
9130,2015-03-25 02:34:11,8.000000,100.000000,87.000000
9131,2015-03-25 09:55:20,7.000000,68.000000,68.000000
9132,2015-03-25 11:35:10,0.000000,45.000000,54.000000
9133,2015-03-25 13:43:30,0.000000,88.000000,100.000000
9134,2015-03-25 13:58:35,0.000000,90.000000,90.000000
9135,2015-03-25 13:58:54,8.000000,90.000000,90.000000
9136,2015-03-25 14:26:12,7.000000,60.000000,50.000000
9137,2015-03-25 14:38:43,10.269316,84.000000,72.000000
9138,2015-03-25 17:44:39,10.269316,65.000000,70.000000
9139,2015-03-26 17:27:39,10.269316,100.000000,100.000000
9140,2015-03-26 21:00:22,7.000000,95.000000,86.000000
9141,2015-03-28 13:03:38,10.269316,95.000000,73.000000
9142,2015-03-29 21:03:44,0.000000,92.183976,78.500503
9143,2015-03-29 22:00:47,8.000000,60.000000,50.000000
9144,2015-03-30 13:49:47,9.000000,91.000000,63.000000
9145,2015-03-30 14:53:06,8.000000,75.000000,68.000000
9146,2015-03-30 17:31:14,3.000000,60.000000,65.000000
9147,2015-03-30 22:16:57,8.000000,95.000000,86.000000
9148,2015-03-30 22:17:24,8.000000,95.000000,86.000000
9149,2015-03-30 23:18:25,7.000000,70.000000,94.000000
9150,2015-03-31 07:02:44,10.269316,79.000000,75.000000
9151,2015-03-31 19:22:14,8.000000,0.000000,0.000000
9152,2016-11-01 06:18:34,8.000000,92.183976,78.500503
9153,2016-05-20 13:48:07,1.000000,92.183976,78.500503
9154,92.1303,92.130308,92.130308,92.130308
9155,92.1303,92.130308,92.130308,92.130308
9156,NaT,10.269316,0.000000,78.500503
9157,NaT,7.000000,92.183976,78.500503

### Salva o arquivo limpo em .csv:

In [8]:
df.to_csv('BBC-Results-MT9.csv', sep = ',', encoding='utf-8', index=False)
print ("Done!")

Done!