<h3>Utilizando uma das técnicas da Normalização de dados vistas em sala de aula, padronize duas colunas do arquivo BBC. Poste o link de sua solução e o resultado final do arquivo após suas operações. Insira o link no github comunitário contendo os arquivos solicitados.</h3>

<p>Vou utilizar a técnica z-core. As colunas escolhidas para padronização são 'Recognition Score' e 'Temporal Memory Score'. A fórmula utilizada foi ((Xi-MEDIA)/desvio padrão)</p>

In [19]:
import pandas as pd
dados = pd.read_excel("./BBC-Results.xlsx")
dados.head(15)

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-12-11 18:16:31,7.0,91.0,86.0
1,2012-12-13 14:31:16,6.5,95.0,78.0
2,2012-12-13 14:31:30,7.0,95.0,56.0
3,2012-12-13 14:32:01,5.0,91.0,81.0
4,2012-12-13 14:34:07,8.5,100.0,75.0
5,2012-12-13 14:34:16,7.0,87.0,80.0
6,2012-12-13 14:35:50,6.5,91.0,95.0
7,2012-12-13 14:36:36,8.5,95.0,91.0
8,2012-12-13 14:44:30,6.5,91.0,81.0
9,2012-12-13 14:44:57,7.0,91.0,86.0
10,2012-12-13 14:48:38,8.0,100.0,79.0
11,2012-12-13 14:54:44,7.5,100.0,87.0
12,2012-12-13 14:58:49,8.0,95.0,73.0
13,2012-12-13 15:01:56,7.0,79.0,78.0
14,2012-12-13 15:03:48,5.0,91.0,81.0

In [20]:
dados.describe()

,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
count,8777.000000,8777.000000,8777.000000
mean,6.711120,89.416452,78.395112
std,2.261802,12.702668,13.543143
min,0.000000,0.000000,0.000000
25%,6.000000,87.000000,70.000000
50%,7.000000,92.000000,80.000000
75%,8.000000,100.000000,87.000000
max,23.500000,100.000000,100.000000

In [21]:
dados['Recognition Score'] = (dados['Recognition Score']-89.4164)/12.7026
dados['Temporal Memory Score'] = (dados['Temporal Memory Score']-78.3951)/13.5431
dados.head(15)

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,2012-12-11 18:16:31,7.0,0.124667,0.561533
1,2012-12-13 14:31:16,6.5,0.439564,-0.029174
2,2012-12-13 14:31:30,7.0,0.439564,-1.653617
3,2012-12-13 14:32:01,5.0,0.124667,0.192341
4,2012-12-13 14:34:07,8.5,0.833184,-0.250689
5,2012-12-13 14:34:16,7.0,-0.190229,0.118503
6,2012-12-13 14:35:50,6.5,0.124667,1.226078
7,2012-12-13 14:36:36,8.5,0.439564,0.930725
8,2012-12-13 14:44:30,6.5,0.124667,0.192341
9,2012-12-13 14:44:57,7.0,0.124667,0.561533
10,2012-12-13 14:48:38,8.0,0.833184,0.044665
11,2012-12-13 14:54:44,7.5,0.833184,0.635372
12,2012-12-13 14:58:49,8.0,0.439564,-0.398365
13,2012-12-13 15:01:56,7.0,-0.820021,-0.029174
14,2012-12-13 15:03:48,5.0,0.124667,0.192341