In [1]:
import pandas as pd

df = pd.read_csv('BBC_Results.csv')
df

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
0,12/11/2012 18:16:31,7.0,91,86
1,12/13/2012 14:31:16,6.5,95,78
2,12/13/2012 14:31:30,7.0,95,56
3,12/13/2012 14:32:01,5.0,91,81
4,12/13/2012 14:34:07,8.5,100,75
5,12/13/2012 14:34:16,7.0,87,80
6,12/13/2012 14:35:50,6.5,91,95
7,12/13/2012 14:36:36,8.5,95,91
8,12/13/2012 14:44:30,6.5,91,81
9,12/13/2012 14:44:57,7.0,91,86
10,12/13/2012 14:48:38,8.0,100,79
11,12/13/2012 14:54:44,7.5,100,87
12,12/13/2012 14:58:49,8.0,95,73
13,12/13/2012 15:01:56,7.0,79,78
14,12/13/2012 15:03:48,5.0,91,81
15,12/13/2012 15:07:31,7.0,100,95
16,12/13/2012 15:08:34,7.5,100,70
17,12/13/2012 15:12:18,8.5,100,95
18,12/13/2012 15:30:14,7.0,83,90
19,12/13/2012 16:00:34,8.5,95,73
20,12/13/2012 16:07:53,4.0,91,86
21,12/13/2012 16:08:13,4.0,95,73
22,12/13/2012 18:48:48,4.5,100,100
23,12/13/2012 20:19:32,7.0,70,82
24,12/14/2012 1:42:31,8.0,95,100
25,12/14/2012 1:55:20,9.0,45,54
26,12/14/2012 10:58:26,5.5,100,79
27,12/16/2012 11:43:14,9.0,95,78
28,12/16/2012 11:58:39,8.0,83,70
29,12/16/2012 12:12:48,8.0,95,78
...,...,...,...,...
9126,3/21/2015 5:11:47,10.0,100,83
9127,3/23/2015 19:59:37,5.5,68,58
9128,3/24/2015 8:55:34,8.0,83,90
9129,3/24/2015 13:56:19,7.0,50,100
9130,3/25/2015 2:34:11,8.0,100,87
9131,3/25/2015 9:55:20,7.0,68,68
9132,3/25/2015 11:35:10,0.0,45,54
9133,3/25/2015 13:43:30,0.0,88,100
9134,3/25/2015 13:58:35,0.0,90,90
9135,3/25/2015 13:58:54,8.0,90,90
9136,3/25/2015 14:26:12,7.0,60,50
9137,3/25/2015 14:38:43,7.5,84,72
9138,3/25/2015 17:44:39,6.5,65,70
9139,3/26/2015 17:27:39,2.5,100,100
9140,3/26/2015 21:00:22,7.0,95,86
9141,3/28/2015 13:03:38,11.5,95,73
9142,3/29/2015 21:03:44,0.0,NaN,NaN
9143,3/29/2015 22:00:47,8.0,60,50
9144,3/30/2015 13:49:47,9.0,91,63
9145,3/30/2015 14:53:06,8.0,75,68
9146,3/30/2015 17:31:14,3.0,60,65
9147,3/30/2015 22:16:57,8.0,95,86
9148,3/30/2015 22:17:24,8.0,95,86
9149,3/30/2015 23:18:25,7.0,70,94
9150,3/31/2015 7:02:44,7.5,79,75
9151,3/31/2015 19:22:14,8.0,0,0
9152,1/11/2016 6:18:34,8.0,NaN,NaN
9153,5/20/2016 13:48:07,1.0,ee,ee
9154,9/17/2016 5:37:22,5.5,NaN,NaN
9155,9/17/2016 5:37:43,5.5,NaN,NaN

In [5]:
df.dtypes

Timestamp                                    object
How many hours did you sleep last night?    float64
Recognition Score                            object
Temporal Memory Score                        object
dtype: object

In [15]:
df['How many hours did you sleep last night?'].mean()

6.6963076250819311

In [12]:
df[df['How many hours did you sleep last night?'].isnull()]

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
5742,12/16/2013 12:54:45,NaN,NaN,NaN
7692,7/21/2014 8:03:39,NaN,75,75

In [17]:
df['How many hours did you sleep last night?'].fillna(df['How many hours did you sleep last night?'].mean(), inplace=True)

In [18]:
df[df['How many hours did you sleep last night?'].isnull()]

Empty DataFrame
Columns: [Timestamp, How many hours did you sleep last night?, Recognition Score, Temporal Memory Score]
Index: []

In [13]:
df[df['Recognition Score'].isnull()]

,Timestamp,How many hours did you sleep last night?,Recognition Score,Temporal Memory Score
924,2/14/2013 6:04:33,6.0,NaN,NaN
925,2/14/2013 6:04:49,6.0,NaN,NaN
944,2/14/2013 14:45:45,8.0,NaN,NaN
950,2/14/2013 16:31:11,0.0,NaN,NaN
1003,2/16/2013 9:51:03,8.0,NaN,100
1004,2/16/2013 9:51:42,0.0,NaN,NaN
1005,2/16/2013 9:52:00,8.0,NaN,100
1122,2/20/2013 7:59:02,9.0,NaN,NaN
1194,2/21/2013 15:24:09,0.0,NaN,NaN
1328,2/25/2013 10:05:55,6.0,NaN,NaN
1380,2/27/2013 4:59:12,8.0,NaN,NaN
1385,2/27/2013 8:41:01,7.0,NaN,NaN
1387,2/27/2013 8:46:41,6.5,NaN,NaN
1412,2/28/2013 12:47:28,7.5,NaN,NaN
1516,3/4/2013 6:13:09,8.0,NaN,NaN
1629,3/8/2013 13:48:59,8.0,NaN,NaN
1650,3/9/2013 13:53:24,9.0,NaN,NaN
1651,3/9/2013 13:57:35,0.0,NaN,NaN
1716,3/12/2013 16:04:56,8.5,NaN,NaN
1791,3/15/2013 6:08:57,7.0,NaN,NaN
1793,3/15/2013 8:54:12,8.5,NaN,NaN
1866,3/18/2013 11:12:31,7.0,NaN,NaN
2389,4/17/2013 19:22:00,8.0,NaN,NaN
2397,4/17/2013 19:34:55,0.0,NaN,68
2400,4/17/2013 19:36:14,9.0,NaN,68
3116,5/14/2013 13:47:58,0.0,NaN,NaN
3138,5/15/2013 10:37:07,7.0,NaN,NaN
3250,5/19/2013 16:30:46,8.0,NaN,NaN
3596,5/29/2013 12:06:42,6.5,NaN,NaN
3601,5/29/2013 14:29:06,0.0,NaN,NaN
3622,5/30/2013 5:26:18,7.5,NaN,NaN
3735,6/3/2013 7:36:08,6.5,NaN,NaN
3836,6/6/2013 11:51:57,8.5,NaN,NaN
4212,6/21/2013 7:56:04,0.0,NaN,NaN
4590,7/19/2013 15:43:38,0.0,NaN,NaN
4870,8/18/2013 10:16:01,6.5,NaN,NaN
5560,11/30/2013 15:49:33,0.0,NaN,NaN
5614,12/4/2013 20:02:54,8.5,NaN,NaN
5615,12/4/2013 20:02:55,8.5,NaN,NaN
5728,12/15/2013 11:29:44,7.0,NaN,NaN
5742,12/16/2013 12:54:45,NaN,NaN,NaN
6744,4/4/2014 12:23:29,5.0,NaN,95
7577,7/10/2014 13:15:49,5.0,NaN,100
8081,8/12/2014 23:50:44,6.0,NaN,68
8578,10/19/2014 0:14:37,9.5,NaN,NaN
8633,11/11/2014 3:39:55,7.0,NaN,NaN
8707,11/26/2014 20:21:54,8.0,NaN,NaN
8739,12/6/2014 5:58:39,8.0,NaN,NaN
8783,12/14/2014 4:19:43,6.0,NaN,NaN
8860,1/3/2015 12:37:52,8.0,NaN,NaN
8879,1/5/2015 19:18:55,8.0,NaN,NaN
8917,1/13/2015 6:30:47,6.0,NaN,NaN
8961,1/22/2015 11:27:32,0.0,NaN,NaN
9108,3/10/2015 12:06:54,7.0,NaN,NaN
9142,3/29/2015 21:03:44,0.0,NaN,NaN
9152,1/11/2016 6:18:34,8.0,NaN,NaN
9154,9/17/2016 5:37:22,5.5,NaN,NaN
9155,9/17/2016 5:37:43,5.5,NaN,NaN

In [ ]:
df[df['Recognition Score'].isnull()]